name: Coverage

on:
  workflow_run:
    workflows: ['Test']
    branches: [main]
    types:
      - completed

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  coverage:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    strategy:
      matrix:
        node-version: 24.x

    steps:
      # - uses: ./.github/workflows/build.yml
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Install Playwright
        run: npx playwright install

      - name: Build coverage
        run: |
          npm run coverage

      - name: Publish Coverage
        uses: coverallsapp/github-action@v2
        with:
          # github-token: ${{ secrets.GITHUB_TOKEN }}
          file: lcov.info
