name: Storybook

on:
  workflow_dispatch:
  workflow_run:
    workflows: [Test]
    branches: [master]
    types:
      - completed

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  storybook:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    strategy:
      matrix:
        node-version: [24.x]

    # Job steps
    steps:
      # - uses: ./.github/workflows/build.yml
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Install Playwright
        run: npx playwright install

      # # Manual Checkout
      # - uses: actions/checkout@v4
      #   with:
      #     fetch-depth: 0
      # # Set up Node
      # - uses: actions/setup-node@v4
      #   with:
      #     node-version: '24'
      # Add Storybook build and deploy to GitHub Pages as a step in the workflow
      - uses: bitovi/github-actions-storybook-to-github-pages@v1.0.3
        with:
          build_command: npm run build:storybook
          path: storybook-static # default: dist/storybook
          checkout: false # default: true
