name: Test

on:
  push:
    branches:
      - master

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  test:
    runs-on: ubuntu-latest
    uses: ./.github/workflows/build.yml

    strategy:
      matrix:
        node-version: [22.x, 24.x]

    steps:
      - name: Run tests
        run: npm run test
